#availableGroupsContainer{clear:both;}
#searchRow{clear:both;padding-top:1em;}
.alignToBox{float:left;margin-top:1.2em; padding-left:.2em;}
.availableGroupsHeader{ position:relative;font-size:larger;font-weight:bold;}
