
.moveButtons{padding-top:85px;}
.delegateContainer{height:250px;}
.alignToBox{margin-top:1.0em;}
.alignTextToBox{margin-top:1.2em; padding-left:.5em;}
.ui-effects-transfer { border: 2px dotted gray; }